body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.header nav a {
  margin: 0 10px;
  color: white;
}

/* ABOUT SECTION */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.about-section h2, .project-section h2, .contact-section h2 {
  margin-bottom: 20px;
}

/* PROJECTS SECTION */
.projects-section {
  padding: 50px;
  text-align: center;
}

.projects-list .project-item {
  margin-bottom: 30px; 
}

.projects-list .project-item h3 {
  margin-bottom: 30px;
}

.projects-list .project-item a {
  color: blue;
}

/* CONTACT SECTION */
.contact-section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;

}

.contact-section a {
  color: blue;
}

/* FOOTER */
.footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}